.jumbotron{
            background-image: url(./img/back.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-blend-mode: darken;
            text-align: center;
         
            
            
        }
        #appstore{
            width:200px;
            height:50px;
        }
        #footer{
            padding:50px;
            
            text-align: center;
            
            
        }
        #aboutus{
            padding: 50px;
            text-align: center;
            
        }
         #services{
            padding: 50px;
            text-align: center;
            
        }
        #foundhead{
            padding: 30px;
            text-align: center;
        }
        .card-img-top{
        width: 100%;
        height: 15vw;
        object-fit: cover;
        }
        body{
            position: relative;
        }
        .card-img{
            width: 100%;
        height: 15vw;
        object-fit: cover;
            align-content: center;
        }
        #founders{
            padding: 20px;
            align-content: center;
        }